.pagination {
    display: flex;
    justify-content: center;
    margin: 8rem;

    @include breakpoint($mobile-bp) {
        margin-top: 5rem;
    }
}

.pagination__item {
    margin: 0 .5rem;
}

.pagination__link {
    display: block;
    width: 4rem;
    height: 4rem;

    background-color: $black;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba($black, .15);

    font-style: 1.4rem;
    line-height: 4rem;
    color: $white;
    text-align: center;
    text-decoration: none;

    transition: background-color .2s linear;

    &:hover {
        background-color: lighten(#0D0D0D, 3%);
    }

    &:active {
        background-color: $blue;
        box-shadow: 0 0 10px rgba($blue, .15);
    }
}
